body{
    font-family: Arial, sans-serif;
    background:#eef3f8;
    margin:0;
}

.container{
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:20px;
}

h1{
    margin-bottom:20px;
}

.cards{
    display:flex;
    gap:15px;
    margin-bottom:20px;
}

.card{
    flex:1;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.card h2{
    font-size:14px;
    color:#6b7280;
    margin:0;
}

.card p{
    font-size:26px;
    font-weight:bold;
    margin:8px 0 0 0;
}

button{
    background:#4285c8;
    color:white;
    border:none;
    padding:12px;
    border-radius:8px;
    font-size:14px;
    cursor:pointer;
}

button:hover{
    background:#357ab7;
}

.tabla{
    width:100%;
    max-width: 100%;
    margin-top:20px;
    border-collapse:collapse;
    background:white;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 2px 8px rgba(0,0,0,0.05);
    box-sizing: border-box;
}

.tabla th{
    background:#f8fafc;
    font-size:13px;
    color:#6b7280;
    text-align:left;
    padding:12px;
}

.tabla td{
    padding:12px;
    border-top:1px solid #f1f5f9;
}

.tabla tr:hover{
    background:#f9fbfd;
}

.tabla-responsive {
    overflow-x: auto; /* permite scroll horizontal */
    -webkit-overflow-scrolling: touch; /* suave en iOS */
}
.tabla {
    min-width: 600px; /* opcional: asegura ancho mínimo para no romper celdas */
}

.oculto{
    display:none;
}

form{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:10px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

input {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}