body{
    font-family: Arial, sans-serif;
    background:#b8cee6;
    margin:0;
}

.container{
    display:flex;
    flex-direction:column;
    gap:20px;
    padding:20px;
}

.card{
    display:flex;
    flex-direction:column;
    gap:2px;
    align-items:center;
    flex:1;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 4px 12px rgba(0,0,0,0.08);
}

.card h1{
    font-size:clamp(20px, 10vw, 100px);
    color:#383737;
    margin:0;
}

.card p{
    font-size:clamp(20px, 8vw, 80px);
    font-weight:bold;
    margin:0;
    color:#767575;
}

form{
    display:flex;
    flex-direction:column;
    gap:12px;
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

/* inputs */
input{
    width:100%;
    padding:clamp(12px, 3vw, 20px);
    border-radius:8px;
    border:1px solid #ccc;
    box-sizing:border-box;
    font-size:clamp(20px, 4vw, 40px);
}

/* botones */
button{
    width:100%;
    background:#4285c8;
    color:white;
    border:none;
    padding:clamp(14px, 3vw, 20px);
    border-radius:8px;
    font-size:clamp(20px, 4vw, 40px);
    cursor:pointer;
    transition:background 0.2s ease;
}

button:hover{
    background:#357ab7;
}

h2{
    color:#383737;
    font-size:clamp(20px, 5vw, 40px);
    margin:0;
}

/* tabla */

.tabla-responsive{
    overflow-x:auto;
    -webkit-overflow-scrolling:touch;
    background:white;
    border-radius:8px;
    padding:20px;
}

.tabla{
    width:100%;
    border-collapse:collapse;
}

.tabla th{
    background:#e2f0ff;
    color:#35383e;
    text-align:left;
    padding:12px;
    font-size:clamp(14px, 4vw, 28px);
}

.tabla td{
    padding:12px;
    border-top:1px solid #f1f5f9;
    font-size:clamp(14px, 3vw, 18px);
}

.tabla tr:hover{
    background:#f9fbfd;
}

/* buscador de productos */

.buscador-producto{
    position:relative;
    width:100%;
}

.lista-productos{
    position:absolute;
    top:100%;
    left:0;
    width:100%;
    background:white;
    border:1px solid #ccc;
    border-radius:8px;
    max-height:200px;
    overflow-y:auto;
    display:none;
    z-index:10;
}

.item-producto{
    padding:12px;
    cursor:pointer;
    font-size:clamp(18px, 4vw, 30px);
}

.item-producto:hover{
    background:#f0f0f0;
}